body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin-bottom: 45px;
}

/* drawing board */
.container {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  width: 600px;
  height: 600px;
}

/* boxes in the drawing board */

.grid-row {
  display: flex;
  flex: 1;
}

.grid-box {
  border: solid rgb(71, 60, 60) 1px;
  flex: 1;
}

/* buttons styling & positioning */
.buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-top: 35px;
}

#blackColor {
  background-color: black;
  color: white;
  border: none;
  border-radius: 6%;
  font-size: 18px;
  width: 110px;
  height: 40px;
}

#randomColor {
  background-color: darkolivegreen;
  color: white;
  border: none;
  border-radius: 6%;
  font-size: 18px;
  width: 110px;
  height: 40px;
}

#resetGrid {
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 6%;
  font-size: 18px;
  width: 110px;
  height: 40px;
}
